<div ng-controller="xiangqing">
	<nav class="navbar navbar-inverse" role="navigation">
		<div class="container">
			<button type="button" ui-serf="" class="btn btn-link navbar-btn glyphicon glyphicon-chevron-left"  ng-click="fanhui()"></button>
			<button type="button" class="pull-right btn btn-link navbar-btn glyphicon glyphicon-ok" ng-click="bianOk()"></button>
		<div><!-- /.container-fluid --> 
	</nav>
	
	<div class="x_div">
		<input type="text" ng-model="obj.title">
		<textarea ng-model="obj.content"></textarea>
	</div>
	
</div>